.p-tab {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    opacity: 1;
    transition: opacity 0.5s ease, max-width 1.5s ease 0.5s;
}

.p-tab.p-selected,
.p-tab.p-tab-out {
    opacity: 0;
    max-width: 0;
}

.p-tab:not(.p-selected) {
    transition: opacity 0.5s ease 1.25s, max-width 1.5s ease;
}

.p-invert-hover:hover {
    mix-blend-mode: lighten;
}

.p-top-gap {
    transition: all 1.5s cubic-bezier(.49, .12, .19, 1);
}

.p-animate-slide-in-up {
    transform: translateY(100vh);
    animation: slide-in-up 1.5s cubic-bezier(0.49, 0.12, 0.19, 1) forwards;
    animation-delay: 0.5s;
}

@keyframes slide-in-up {
    from {
        transform: translateY(100vh);
    }

    to {
        transform: translateY(0);
    }
}

.p-animate-slide-out-down {
    transform: translateY(0);
    animation: slide-out-down 1.5s cubic-bezier(0.49, 0.12, 0.19, 1) forwards;
    animation-delay: 0.5s;
}

@keyframes slide-out-down {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(100vh);
    }
}

.p-animate-slide-in-right {
    transform: translateX(100vw);
    animation: slide-in-right 1s cubic-bezier(0.49, 0.12, 0.19, 1) forwards;
}

@keyframes slide-in-right {
    from {
        transform: translateX(100vw);
    }

    to {
        transform: translateX(0);
    }
}

.p-animate-slide-out-left {
    transform: translateX(0);
    animation: slide-out-left 1s cubic-bezier(0.49, 0.12, 0.19, 1) forwards;
    animation-delay: 0.5s;
}

@keyframes slide-out-left {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100vw);
    }
}

.p-animate-slide-in-left {
    transform: translateX(-100vw);
    animation: slide-in-left 1s cubic-bezier(0.49, 0.12, 0.19, 1) forwards;
}

@keyframes slide-in-left {
    from {
        transform: translateX(-100vw);
    }

    to {
        transform: translateX(0);
    }
}

.p-animate-slide-out-right {
    transform: translateX(0);
    animation: slide-out-right 1s cubic-bezier(0.49, 0.12, 0.19, 1) forwards;
    animation-delay: 0.5s;
}

@keyframes slide-out-right {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(100vw);
    }
}