.p-tab-container {
    overflow: hidden;
    transition-property: max-width;
    transition-timing-function: cubic-bezier(.49, .12, .19, 1);
    transition-duration: 1.4s;
}

.p-tab-in {
    transition-property: margin, opacity;
    transition-timing-function: cubic-bezier(.49, .12, .19, 1);
    transition-duration: 1s, 1s;
    transition-delay: 0.1s, .25s;
}

.p-tab-out {
    transition-property: margin, opacity;
    transition-timing-function: cubic-bezier(.49, .12, .19, 1);
    transition-duration: 0.25s, .5s;
    transition-delay: 0.5s, 0s;
}

.p-invert-hover:hover {
    mix-blend-mode: exclusion;
}

.p-top-gap {
    transition: all 1.5s cubic-bezier(.49, .12, .19, 1);
}

.p-animate-slide-in-up {
    transform: translateY(100vh);
    animation: slide-in-up 1.5s cubic-bezier(0.49, 0.12, 0.19, 1) forwards;
    animation-delay: 0.5s;
}

@keyframes slide-in-up {
    from {
        transform: translateY(100vh);
    }

    to {
        transform: translateY(0);
    }
}

.p-animate-slide-out-down {
    transform: translateY(0);
    animation: slide-out-down 1.5s cubic-bezier(0.49, 0.12, 0.19, 1) forwards;
    animation-delay: 0.5s;
}

@keyframes slide-out-down {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(100vh);
    }
}

.p-animate-slide-in-right {
    transform: translateX(100vw);
    animation: slide-in-right 1s cubic-bezier(0.49, 0.12, 0.19, 1) forwards;
}

@keyframes slide-in-right {
    from {
        transform: translateX(100vw);
    }

    to {
        transform: translateX(0);
    }
}

.p-animate-slide-out-left {
    translate: translateX(0);
    animation: slide-out-left 1s cubic-bezier(0.49, 0.12, 0.19, 1) forwards;
    animation-delay: 0.5s;
}

@keyframes slide-out-left {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100vw);
    }
}



.p-animate-slide-in-left {
    translate: translateX(-100vw);
    animation: slide-in-left 1s cubic-bezier(0.49, 0.12, 0.19, 1) forwards;
}

@keyframes slide-in-left {
    from {
        transform: translateX(-100vw);
    }

    to {
        transform: translateX(0);
    }
}

.p-animate-slide-out-right {
    translate: translateX(0);
    animation: slide-out-right 1s cubic-bezier(0.49, 0.12, 0.19, 1) forwards;
    animation-delay: 0.5s;
}

@keyframes slide-out-right {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(100vw);
    }
}