.p-tab-container {
    overflow: hidden;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 1.5s;
}

.p-tab-in {
    transition-property: margin, opacity, max-width;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-duration: 0.5s, 1s, 0.5s;
}

.p-tab-out {
    transition-property: margin, opacity, max-width;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-duration: .5s, 1.5s, .5s;
    transition-delay: .5s, 0s, 0s;
}

.p-tab {
    transition-property: margin, opacity, max-width;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-duration: 1.5s, 1.5s, 1.5s;

}